.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
  height: 0;
  overflow: hidden;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
}
.accordion--active {
  min-height: 5rem;
}

.accordion__title {
  margin-bottom: 0.25rem;
}

.accordion__text {
  color: #666666;
}
.accordion__text.team__list--mobile {
  width: 30%;
}

@media (max-width: 768px) {
  .accordion {
    position: relative;
  }

  .accordion__iner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accordion__title {
    font-weight: 700;
  }

  .team__list--mobile .accordion__text {
    width: 55%;
  }
}