.assortment {
  background: #f8faf9;
  display: flex;
  position: relative;

  &::before {
    content: url("../../img/assortment/decor.svg");
    position: absolute;
    bottom: -1.5rem;
    right: 10%;
  }
}

.assortment__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13.5px;
  height: 1.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.assortment__control--left {
  left: -4%;
  margin-left: 0.84375rem;
}

.assortment__control--right {
  right: -4%;
  margin-right: 0.84375rem;
}

@media (max-width: 768px) {
  .assortment__control--left {
    left: 9%;
    top: 26%;
  }

  .assortment__control--right {
    right: 9%;
    top: 26%;
  }
}

@media (max-width: 480px) {
  .assortment__control--left {
    left: 5%;
    top: 20%;
  }

  .assortment__control--right {
    right: 5%;
    top: 20%;
  }
}
