.duration-length {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: linear-gradient(90deg, #e01f3d 0%, #e01f3d 0%, #333333 0%);
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}

.duration-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #e01f3d;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.duration-length::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #e01f3d;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
