.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3.375rem 1.125rem 5.375rem;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0.625rem;
}

.footer-address__text {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .contacts--footer {
    .contacts {
      color: #e01f3d;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-address {
    align-items: center;
  }

  .footer-address__text {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .contacts--footer {
    font-size: 1rem;
    color: #292929;
    justify-content: center;
    margin-bottom: 1.1875rem;
  }
}
