.hamburger {
  width: 26px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  z-index: 10000;
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
